.general-layout {
  display: flex;
  background-color: #bac8ff;
}

.progress-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 40%;
  bottom: 50%;
  left: 40%;
  right: 40%;
}

.currency-icon {
  position: relative;
  top: 3px;
}

.currency-icon-overview {
  position: relative;
  top: 4px;
}

.edit-icon {
  color: rgba(0, 0, 0, 0.568);
}
.edit-icon :hover {
  cursor: pointer;
}
